{% extends 'base.html.twig' %}

{% block title %}Air Atlantique{% endblock %}
{% block body %}
<body>
  <style>
  h5.test{
     text-align: right;
  }
  h5.prix{
    text-align: right;
  }
  </style>
  {% for users in vol %}
  <ul class="collapsible">
   <li>
     <div class="collapsible-header"><i class="material-icons">airplanemode_active</i>
     {{ users.idTrajet.aeroporta.ville }}
     <i class="material-icons">arrow_forward</i>
     {{ users.idTrajet.aeroportd.ville }}
   </div>
   {% for user in prix %}
     <div class="collapsible-body">
       <h5 class="test">Classe: {{ user.idClasse.nom }}</h5>
       <h5>Duree du Voyage: {{ users.idTrajet.duree }}</h5>
       <br>
       <h5>{{ users.dated|date("H:i") }}</h5>
       <i class="material-icons prefix"> linear_scale</i>
       <h5>{{ users.datea|date("H:i") }}</h5>
       <br>
       <br>
       <h5 class="prix">Prix: {{ user.prix }} </h5>
       <a href=" {{ path("reserver",{ "idVol":users.idVol, "idPrix":user.idPrix }) }}" class="btn waves-effect waves-light" type="submit" name="action">Réserver
       <i class="material-icons right">send</i>
     </a>
     </div>
   </li>
 </ul>
 {% endfor %}
  {% endfor %}

<script>
var elem = document.querySelectorAll('.collapsible');
var instance = M.Collapsible.init(elem, {
  accordion: true
});
</script>
{% endblock %}
